#shop{
    width: 980px;
    border: 1px solid #eee;
    overflow: hidden;
    margin: 10px auto;
}
#shop .mahsol{
    width:270px;
    border:2px solid #fff;
    text-align:center;
    color:#555;
    margin:20px 0px;
    padding:15px;
    float:left;
}
#shop .mahsol img{
    width:200px;
    height:200px;
    border: 1px solid #eee;
    padding: 2px;
}
#shop .mahsol button{
    border-radius: 20% 10%;
    cursor: pointer;
}
#shop .mahsol p{
    font-family:Verdana, Geneva, Tahoma, sans-serif
}
#shop .mahsol h2{
    font: 25px 'b yekan' #555;
    padding-bottom: 10px;
    cursor: pointer;
}
#shop .mahsol:hover{
    border-color:cornsilk;
    color: black;
}
a img:hover{
    opacity: 0.7;
}
button:hover{
    background-color: rgb(37, 62, 204);
    transition: all 0.5s ease;
    color: white !important;
}
button a{
    text-decoration: none;
}



