@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* 
{
    box-sizing: border-box;
    line-height: 1.4;
    font-family: serif;
    font-size: 10px;
    font-family: "Poppins" , sans-serif;
  }
  
  /* .clearfix:after {
    content: "";
    display: table;
    clear: both;
  } */
  
  body {
    color: #333;
  }
  
  /* .wrapper {
    margin: 0 auto;
    width: 80%;
    max-width: 800px;
    background: white;
  } */
  
  .inner {
    margin-top: 5rem;
    margin-bottom: 5rem;
  }
  
  .hr {
    padding: 1rem 0;
    height: 1px;
    width: 100%;
    border-bottom: 1px solid #ddd;
  }
  
  .intro {
    background: 
      linear-gradient( 45deg, #FD4D52, #892B8B);
    text-align: center;
    margin-bottom: 15rem;
  }
 
    h1 {
      margin-top: 0;
      padding: 10rem 0;
      font-size: 6rem;
      font-family: futura, sans-serif;
      color: white;
      font-weight: 100;
    }
  
  
  h1, h2, h3, h4, h5 {
    line-height: 1;
    margin: 0;
    margin-bottom: .5rem;
  }
  
  
  
  .title {
      margin-top:30px;
    position: relative;
    margin-bottom: 5rem;
 
  }
  
  .title_cover {
    float: left;
    width: 50rem;
    height: 40rem;
    padding-top: 30px;
    padding-right: 20px;
    padding-bottom: 30px;
  }
  
  .title_cover2 {
    float: left;
    width: 50rem;
    height: 45rem;
    padding-top: 100px;
    padding-right: 20px;
    
  }
  
  .title_details {
   
    width: 100%;
    padding-left:30px;
    padding-bottom: 50px;
   
  }
  .title_details3 {
   
    width: 100%;
    padding-left:30px;
    padding-bottom: 100px;
    padding-top:20px;
   
  }
  .title_details2{
    position: absolute;
    width: 100%;
    /* padding-top: 1000px;  */
    top:1100px;
   
  }
    h2 {
      font-size: 5rem;
      font-weight: normal;
      padding-bottom: 1rem;
     
      border-bottom: 1px solid red;
    }
    h3 {
      margin-top: 1rem;
      font-size: 2.5rem;
      font-style: italic;
      font-weight: normal;
      white-space: nowrap;
      color:rgb(88, 86, 86);
    }
    h4 {
      margin-top: 2rem;
      margin-bottom: 0;
      font-size: 1rem;
      font-family: sans-serif;
      text-transform: uppercase;
      font-weight: bold;
    }
  
  
  .text {
    position: relative;
  }
  
  .text_rank {
    position: absolute;
    top: -1rem;
    left: -0.5rem;
    line-height: 1;
    font-size: 8rem;
    font-weight: bold;
  }
  .text p {
    font-size: 2rem;
    margin-left: auto;
    margin-right: 2rem;
    padding-left: 12rem;
  }
  
  .textBar {
    color: rgba(red, .6);
    font-size: 2rem;
    background: #f8f8f8;
    padding: 2rem 0;
    font-family: futura;
    
  }
  #chart{
    position:absolute;
    top:3100px;
  }


  #threed-text{
    position:absolute;
    font-size: 15px;
    top:3380px;
    left: 60%;
    
  }
  #features-text{
    position:absolute;
    font-size: 15px;
    top:2000px;
    left: 50%;

    
  }
  
  #report{
    padding-bottom: 40px;
  }
  #matrix{
    padding-bottom: 20px;
  }
  #feature_imp{
    padding-top: 100px;
    width: 700px;
   
  } 
  #chart2{
    position:absolute;
    top:3880px;
  }

  #bold{
    font-size: 20px;
    font-weight: bold;
  }
  
  #features{
    position:absolute;
    top:2580px;
    padding-left:130px;
  }
  #chart-title{
    position:absolute;
    font-size: 30px;
    font-weight: bold;
    top:3300px;
    left:60%;
  }