<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product-Gallery</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/analytics.css') }}">
</head>
<body>
    <div id="shop">
      {% for i,j in enumerate(data) %}
      <div class="mahsol">
        <a href="#"><img src={{data[i][3]}}></a>
        <h4>{{data[i][0]}}</h4>
        <h4>{{data[i][1]}}</h4>
        <form method="post"enctype="multipart/form-data">
        <button type="submit"name="submit_song" value={{data[i][2]}}> <p>ADD</p></button>
      </form>
    </div>
      
  {% endfor %}

    </div>
    <form method="post"action="/recommend-energetic" enctype="multipart/form-data">
      <button type="submit"name="recommend_energetic" > GET MY SONGS</button>
    </form>

</body>
</html>