<link rel="stylesheet" href="{{ url_for('static', filename='css/predict.css') }}">

<div class="container">
  <div class="content">
    <div class="left-side">
      <!-- <div class = "container_img"> -->
        {%if image_url%}
        
        <img id="predict-img"src={{image_url}}></img>
        {%endif%}
        <!-- <div class = "overlay">
          <div class="overlay-text"> -->
            <div class="address details">
              <i class="fas fa-map-marker-alt"></i>
            
            <div class="text-one">{{pred_artist}}</div>
            <div class="text-two">{{pred_song}}</div>
            
          {% if listen %}
          <audio style="padding-top: 10px;width:250px"id="preview" controls="controls">
            <source src={{listen}} type="audio/mpeg"/>
          </audio>
          {% endif %}
        <!-- </div>
        </div>
        </div> -->
    </div>
    
    </div>
    
    <div class="right-side">
      <div class="topic-text">Testing the model</div>
      <p>Type any song that can be found on Spotify for the trained model to predict its mood</p>
      <form action="/prediction"method = "post" enctype="multipart/form-data">
        <div class="input-box">
          <input type="text"id="song-name" name="song" placeholder="Song name">
        </div>
        <div class="input-box">
          <input type="text" id="artist-name" name="artist" placeholder="Artist name">
        </div>
        <div class="input-box message-box">
         
            <div class="topic-text"style="padding-top:20px;">
              {% if pred_mood %}
                Resulted mood is: <span id='mood'>{{pred_mood}}</span>
                <div id="similar-response">Similar songs from the dataset:</div> 
                <div id="similars">
                {%for s in similars %}
                  {{s[0]}}-{{s[1]}}<br>
                {% endfor %}
                </div>
          {% endif %}
        </div>
        </div>
        <div class="button">
          <input class="button" type="submit" value="Predict" >
        </div>
     
    
        <br>
        <br>
        <a href="{{ url_for('choose_mood') }}">Recommend me songs now</a>
      </form>
    </div>
  </div>
</div>