<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Scroll Multi</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

<link rel="stylesheet" href="{{ url_for('static', filename='css/recommendations.css') }}">
</head>
<body>
  <h1 id="title">Your Recommendations</h1>

  <div class="scrolly">
      <h2 class="topT"></h2>
      <button id="left"><span class="material-icons">chevron_left</span></button>
      <button id="right"><span class="material-icons">chevron_right</span></button>
  <ul class="carouselPre">
    {% for i,j in enumerate(r) %}
      <li class="itemsC">
      
          <div class="contents">
              <h1 class="leftTxtDet">{{r[i][1]}} - {{r[i][0]}}</h1>
              <div class="textDet" style="background-color: black"> 
                 <iframe id="music-prev"src={{r[i][3]}} width="400" height="70" allow="encrypted-media"alt=""></iframe></div>
                
          </div>
        
          <div class="bgImg"><img src={{r[i][2]}}></div>
      </li>
     
    {% endfor %}
  </ul>
</div>
<form method="post"action="/choose-mood" enctype="multipart/form-data">
  <button type="submit"name="go_back" > back</button>
</form>

<script type="module"src="{{url_for('static', filename='carousel.js')}}"></script>

</body>
</html>