<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product-Gallery</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/analytics.css') }}">
</head>
<body>
    <!-- <div id="shop">
      {% for url in urls %}
      <div class="mahsol">
        <a href="#"><img src={{url}}></a>
        <h2>ست لباس  ساده</h2>
        <a href="#"> <button> <p>برای خرید کلیک کنید</p> </button></a> 
    </div>
      
  {% endfor %} -->

    </div>
</body>
</html>