<link rel="stylesheet" href="{{ url_for('static', filename='css/stats.css') }}">
<img />

<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-2.0.0-rc.3.min.js%22%3E"></script>


<header class="intro">
    <h1>The results after training the models</h1>
    <p class="textBar">The following graphics compare the Neural Network and Random Forest performances</p>
  </header>
  <div class="wrapper">
    <div class="title_details">
      <h2>Random Forest Model</h2>
      <h3>Accuracy score:{{score1}} </h3>
    </div>
    <img id="report" src="{{url_for('static', filename='report-randomf-small.png')}}" alt="">
    <img id="matrix"src="{{url_for('static', filename='matrix-randomf-small.png')}}"/>

        <div class="title_details">
          <h2>Neural network Model</h2>
          <h3>Accuracy score:{{score2}} </h3>
        </div>
        
        <img src="{{url_for('static', filename='report-neural-small.png')}}"/>
        <img src="{{url_for('static', filename='matrix-neural-small.png')}}"/>

        <div class="title_details">
          <h2>Dataset Analysis</h2>
          <h3></h3>
          <img src="{{url_for('static', filename='important_features.png')}}"/>
          
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
        <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
        <script src="https://d14fo0winaifog.cloudfront.net/plotly-basic.js"></script>
        <script src="https://cdn.plot.ly/plotly-2.0.0-rc.3.min.js%22%3E"></script>
        <div id="chart" style="width:1300px;height:1000x"></div>
        <script type="text/javascript">
             var plm = document.getElementById('chart');
            var graphs = {{graphJSON | safe}};
            var layout = {
            autosize: true,
            height: 700,
            scene: {
                aspectratio: {
                    x: 1,
                    y: 1,
                    z: 1
                },
                camera: {
                    center: {
                        x: 0,
                        y: 0,
                        z: 0
                    },
                    eye: {
                        x: 1.25,
                        y: 1.25,
                        z: 1.25
                    },
                    up: {
                        x: 0,
                        y: 0,
                        z: 1
                    }
                },
                xaxis: {
                    type: 'linear',
                    zeroline: false
                },
                yaxis: {
                    type: 'linear',
                    zeroline: false
                },
                zaxis: {
                    type: 'linear',
                    zeroline: false
                }
            },
            title: 'Songs traits viewed in 3D',
            width: 800
        };
            // console.log(graphs);
            Plotly.newPlot(plm,graphs,layout);        
     
        </script>
        <p id='threed-text'>>This graph uses principal component analysis to reduce the dimension of the list of all audio features to a dimension of 3, effectively creating a matrix suitable for generating the following 3-dimensional plot. The lesser the distance between any two songs, the larger the similarities in their traits.</p>
    
    <div id="chart2" style="width:900px;height:800px"></div>
    <script type="text/javascript">
        var plm2 = document.getElementById('chart2');
        var graphs2 = {{graphJSON2 | safe}};
        var layout = {
        autosize: true,
        height: 480,
        scene: {
            aspectratio: {
                x: 1,
                y: 1,
                z: 1
            },
            camera: {
                center: {
                    x: 0,
                    y: 0,
                    z: 0
                },
                eye: {
                    x: 1.25,
                    y: 1.25,
                    z: 1.25
                },
                up: {
                    x: 0,
                    y: 0,
                    z: 1
                }
            },
            xaxis: {
                type: 'linear',
                zeroline: false
            },
            yaxis: {
                type: 'linear',
                zeroline: false
            },
            zaxis: {
                type: 'linear',
                zeroline: false
            }
        },
        title: 'Analytics',
        width: 800
    };
        // console.log(graphs);
        Plotly.newPlot(plm2,graphs2,layout);        
    
    </script>
        <a href="{{ url_for('prediction') }}">Predict now!</a></li>
    
